<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="productsSidebar"></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="max-width: 500px">
    <ion-row>
      <ion-col size="12">
        <ion-card lines="none">
          <ion-card-content>
            <ion-avatar class="avatarAboutMe">
              <ion-img [src]="myImage"></ion-img>
            </ion-avatar>

            <ion-label>
              <p class="productDetailSubTitle">Crist Surya Kurniawan Lie</p>
              <p class="productDetailSubTitle" style="margin-bottom: 20px">
                00000022813 - B
              </p>
              <p class="productValue">
                Aplikasi ini dibuat sendiri dengan menggunakan aplikasi dari
                link-hosting Garrison Cahyadi sebagai contoh dari tampilannya.
                Code dari aplikasi ini dibuat sendiri dengan bantuan dari
                module, dokumentasi, dan stackoferflow
              </p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid></ion-content
>
